# --- API KEYS ---
OPENAI_API_KEY=
DATALASTIC_API_KEY=
ADSB_API_KEY=

## Feature switches
ENABLE_VISION_API=false
ENABLE_DATALASTIC_API=false
ENABLE_ADSB_API=true

DRONE_MODE=real
REAL_DRONE_RTSP_URL=rtsp://[IP_DRONE_ANDA]/live
MAVLINK_URL=udp:0.0.0.0:14550